<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_010{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:10.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:24.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:24.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Consolas",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Consolas",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_id_92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-396px;top:0px;width:792px;height:612px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_id_92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=792 height=612></div>
<div style="position:absolute;left:26.45px;top:14.00px" class="cls_002"><span class="cls_002">6/10/2019</span></div>
<div style="position:absolute;left:397.11px;top:14.00px" class="cls_002"><span class="cls_002">Publish Collection</span></div>
<div style="position:absolute;left:684.25px;top:41.75px" class="cls_003"><span class="cls_003">Upgrade</span></div>
<div style="position:absolute;left:91.73px;top:48.50px" class="cls_004"><span class="cls_004">(</span><span class="cls_010">/workspaces)</span></div>
<div style="position:absolute;left:65.00px;top:79.25px" class="cls_004"><span class="cls_004">Welcome to Postman! We've sent you an email with a link to verify your email address. Didn't get the mail? </span><span class="cls_005">Resend it</span></div>
<div style="position:absolute;left:41.00px;top:117.50px" class="cls_006"><span class="cls_006">Dogs</span></div>
<div style="position:absolute;left:41.00px;top:137.75px" class="cls_005"><span class="cls_005"> </span><A HREF="https://web.postman.co/me">pat049b (/me)</A> </div>
<div style="position:absolute;left:41.01px;top:164.00px" class="cls_004"><span class="cls_004">Documentation    Monitors    Mocks    Activity</span></div>
<div style="position:absolute;left:55.25px;top:194.00px" class="cls_004"><span class="cls_004">No Environment</span></div>
<div style="position:absolute;left:174.32px;top:194.00px" class="cls_004"><span class="cls_004">c</span><span class="cls_010">URL</span></div>
<div style="position:absolute;left:733.75px;top:241.25px" class="cls_004"><span class="cls_004">(0)</span></div>
<div style="position:absolute;left:47.00px;top:233.00px" class="cls_007"><span class="cls_007">Dogs</span></div>
<div style="position:absolute;left:47.00px;top:293.00px" class="cls_008"><span class="cls_008">Introduction</span></div>
<div style="position:absolute;left:47.00px;top:330.50px" class="cls_004"><span class="cls_004">The Api is used to retrive the information about dogs</span></div>
<div style="position:absolute;left:47.00px;top:374.75px" class="cls_008"><span class="cls_008">Overview</span></div>
<div style="position:absolute;left:47.00px;top:412.25px" class="cls_004"><span class="cls_004">Get the list of the dogs and their owners.</span></div>
<div style="position:absolute;left:47.00px;top:456.50px" class="cls_008"><span class="cls_008">Authentication</span></div>
<div style="position:absolute;left:47.00px;top:494.00px" class="cls_004"><span class="cls_004">The Get method is avaiable for unauthenticated user. POST and PUT method are avaiable only for admins.</span></div>
<div style="position:absolute;left:47.00px;top:547.25px" class="cls_008"><span class="cls_008">GET </span><A HREF="http://10.62.144.18:8888/api/v2/dog/&lt;id/">http://10.62.144.18:8888/api/v2/dog/&lt;id</A>></div>
<div style="position:absolute;left:733.75px;top:552.50px" class="cls_004"><span class="cls_004">(0)</span></div>
<div style="position:absolute;left:26.45px;top:587.00px" class="cls_002"><span class="cls_002"> </span><A HREF="https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication/">https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication</A> </div>
<div style="position:absolute;left:754.41px;top:587.00px" class="cls_002"><span class="cls_002">1/4</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-396px;top:622px;width:792px;height:612px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_id_92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=792 height=612></div>
<div style="position:absolute;left:26.45px;top:14.00px" class="cls_002"><span class="cls_002">6/10/2019</span></div>
<div style="position:absolute;left:397.11px;top:14.00px" class="cls_002"><span class="cls_002">Publish Collection</span></div>
<div style="position:absolute;left:53.75px;top:35.00px" class="cls_004"><span class="cls_004"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/1/">http://10.62.144.18:8888/api/v2/dog/1</A> </div>
<div style="position:absolute;left:41.00px;top:108.50px" class="cls_003"><span class="cls_003">Example Request</span></div>
<div style="position:absolute;left:579.50px;top:109.25px" class="cls_003"><span class="cls_003"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/&lt;id/">http://10.62.144.18:8888/api/v2/dog/&lt;id</A>></div>
<div style="position:absolute;left:41.00px;top:140.00px" class="cls_009"><span class="cls_009">curl --location --request GET "</span><A HREF="http://10.62.144.18:8888/api/v2/dog/1"/">http://10.62.144.18:8888/api/v2/dog/1"</A> </div>
<div style="position:absolute;left:47.00px;top:206.75px" class="cls_008"><span class="cls_008">POST </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:733.75px;top:212.00px" class="cls_004"><span class="cls_004">(0)</span></div>
<div style="position:absolute;left:53.75px;top:248.00px" class="cls_004"><span class="cls_004"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:47.00px;top:285.50px" class="cls_005"><span class="cls_005">Headers</span></div>
<div style="position:absolute;left:53.75px;top:314.75px" class="cls_005"><span class="cls_005">Content-Type</span></div>
<div style="position:absolute;left:263.00px;top:314.75px" class="cls_004"><span class="cls_004">application/json</span></div>
<div style="position:absolute;left:53.75px;top:344.75px" class="cls_005"><span class="cls_005">Authorization</span></div>
<div style="position:absolute;left:263.00px;top:344.75px" class="cls_004"><span class="cls_004">Basic dGVzdDp0ZXN0</span></div>
<div style="position:absolute;left:47.00px;top:385.25px" class="cls_005"><span class="cls_005">Body</span><span class="cls_004">  raw (application/json)</span></div>
<div style="position:absolute;left:59.75px;top:422.75px" class="cls_009"><span class="cls_009">{</span></div>
<div style="position:absolute;left:99.34px;top:437.75px" class="cls_009"><span class="cls_009">"Name": "Test",</span></div>
<div style="position:absolute;left:99.34px;top:452.75px" class="cls_009"><span class="cls_009">"Owner": "test",</span></div>
<div style="position:absolute;left:99.34px;top:467.75px" class="cls_009"><span class="cls_009">"Breed": "test"</span></div>
<div style="position:absolute;left:59.75px;top:482.75px" class="cls_009"><span class="cls_009">}</span></div>
<div style="position:absolute;left:41.00px;top:557.00px" class="cls_003"><span class="cls_003">Example Request</span></div>
<div style="position:absolute;left:600.89px;top:557.75px" class="cls_003"><span class="cls_003"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:26.45px;top:587.00px" class="cls_002"><span class="cls_002"> </span><A HREF="https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication/">https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication</A> </div>
<div style="position:absolute;left:754.41px;top:587.00px" class="cls_002"><span class="cls_002">2/4</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-396px;top:1244px;width:792px;height:612px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_id_92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_files/background3.jpg" width=792 height=612></div>
<div style="position:absolute;left:26.45px;top:14.00px" class="cls_002"><span class="cls_002">6/10/2019</span></div>
<div style="position:absolute;left:397.11px;top:14.00px" class="cls_002"><span class="cls_002">Publish Collection</span></div>
<div style="position:absolute;left:41.00px;top:36.50px" class="cls_009"><span class="cls_009">curl --location --request POST "</span><A HREF="http://10.62.144.18:8888/api/v2/dog"/">http://10.62.144.18:8888/api/v2/dog"</A> \</div>
<div style="position:absolute;left:50.90px;top:51.50px" class="cls_009"><span class="cls_009">--header "Content-Type: application/json" \</span></div>
<div style="position:absolute;left:50.90px;top:66.50px" class="cls_009"><span class="cls_009">--header "Authorization: Basic dGVzdDp0ZXN0" \</span></div>
<div style="position:absolute;left:50.90px;top:81.50px" class="cls_009"><span class="cls_009">--data "{</span></div>
<div style="position:absolute;left:80.59px;top:96.50px" class="cls_009"><span class="cls_009">\"Name\": \"Test\",</span></div>
<div style="position:absolute;left:80.59px;top:111.50px" class="cls_009"><span class="cls_009">\"Owner\": \"test\",</span></div>
<div style="position:absolute;left:80.59px;top:126.50px" class="cls_009"><span class="cls_009">\"Breed\": \"test\"</span></div>
<div style="position:absolute;left:41.00px;top:141.50px" class="cls_009"><span class="cls_009">}"</span></div>
<div style="position:absolute;left:733.75px;top:204.50px" class="cls_004"><span class="cls_004">(0)</span></div>
<div style="position:absolute;left:47.00px;top:199.25px" class="cls_008"><span class="cls_008">PUT </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:53.75px;top:240.50px" class="cls_004"><span class="cls_004"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:47.00px;top:278.00px" class="cls_005"><span class="cls_005">Headers</span></div>
<div style="position:absolute;left:53.75px;top:307.25px" class="cls_005"><span class="cls_005">Content-Type</span></div>
<div style="position:absolute;left:263.00px;top:307.25px" class="cls_004"><span class="cls_004">application/json</span></div>
<div style="position:absolute;left:53.75px;top:337.25px" class="cls_005"><span class="cls_005">Authorization</span></div>
<div style="position:absolute;left:263.00px;top:337.25px" class="cls_004"><span class="cls_004">Basic dGVzdDp0ZXN0</span></div>
<div style="position:absolute;left:47.00px;top:377.75px" class="cls_005"><span class="cls_005">Body</span><span class="cls_004">  raw (application/json)</span></div>
<div style="position:absolute;left:59.75px;top:415.25px" class="cls_009"><span class="cls_009">{</span></div>
<div style="position:absolute;left:99.34px;top:430.25px" class="cls_009"><span class="cls_009">"Name": "Test",</span></div>
<div style="position:absolute;left:99.34px;top:445.25px" class="cls_009"><span class="cls_009">"Owner": "test",</span></div>
<div style="position:absolute;left:99.34px;top:460.25px" class="cls_009"><span class="cls_009">"Breed": "test"</span></div>
<div style="position:absolute;left:59.75px;top:475.25px" class="cls_009"><span class="cls_009">}</span></div>
<div style="position:absolute;left:41.00px;top:549.50px" class="cls_003"><span class="cls_003">Example Request</span></div>
<div style="position:absolute;left:600.89px;top:550.25px" class="cls_003"><span class="cls_003"> </span><A HREF="http://10.62.144.18:8888/api/v2/dog/">http://10.62.144.18:8888/api/v2/dog</A> </div>
<div style="position:absolute;left:26.45px;top:587.00px" class="cls_002"><span class="cls_002"> </span><A HREF="https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication/">https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication</A> </div>
<div style="position:absolute;left:754.41px;top:587.00px" class="cls_002"><span class="cls_002">3/4</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-396px;top:1866px;width:792px;height:612px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_id_92ba6fee-8ba1-11e9-9d71-0cc47a792c0a_files/background4.jpg" width=792 height=612></div>
<div style="position:absolute;left:26.45px;top:14.00px" class="cls_002"><span class="cls_002">6/10/2019</span></div>
<div style="position:absolute;left:397.11px;top:14.00px" class="cls_002"><span class="cls_002">Publish Collection</span></div>
<div style="position:absolute;left:41.00px;top:36.50px" class="cls_009"><span class="cls_009">curl --location --request PUT "</span><A HREF="http://10.62.144.18:8888/api/v2/dog"/">http://10.62.144.18:8888/api/v2/dog"</A> \</div>
<div style="position:absolute;left:50.90px;top:51.50px" class="cls_009"><span class="cls_009">--header "Content-Type: application/json" \</span></div>
<div style="position:absolute;left:50.90px;top:66.50px" class="cls_009"><span class="cls_009">--header "Authorization: Basic dGVzdDp0ZXN0" \</span></div>
<div style="position:absolute;left:50.90px;top:81.50px" class="cls_009"><span class="cls_009">--data "{</span></div>
<div style="position:absolute;left:80.59px;top:96.50px" class="cls_009"><span class="cls_009">\"Name\": \"Test\",</span></div>
<div style="position:absolute;left:80.59px;top:111.50px" class="cls_009"><span class="cls_009">\"Owner\": \"test\",</span></div>
<div style="position:absolute;left:80.59px;top:126.50px" class="cls_009"><span class="cls_009">\"Breed\": \"test\"</span></div>
<div style="position:absolute;left:41.00px;top:141.50px" class="cls_009"><span class="cls_009">}"</span></div>
<div style="position:absolute;left:26.45px;top:587.00px" class="cls_002"><span class="cls_002"> </span><A HREF="https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication/">https://web.postman.co/collections/7789490-503c478d-f7bc-2916-887d-aa754f454b5b?workspace=1b56ad39-b372-490a-8044-1247a56f4877#authentication</A> </div>
<div style="position:absolute;left:754.41px;top:587.00px" class="cls_002"><span class="cls_002">4/4</span></div>
</div>

</body>
</html>
